<div class="contact-data-view">
	<div class="col-sm-12">
		<div class="row">
			<div class="profile-header">
				<div class="back-ico" data-ng-click="goTo('user-profile')"></div>
				<h1>Datos de contacto</h1>
			</div>
		</div>
		<div class="row">
			<div class="contact-data">
				<div class="data-row">
					<div class="user-ico"></div>
					<p class="data-label">Nombre completo</p>
					<p class="data-info">{{userData.name}}</p>
				</div>
				<div class="data-row">
					<div class="mail-ico"></div>
					<p class="data-label">Correo electronico</p>
					<p class="data-info">{{userData.email}}</p>
				</div>
				<div class="data-row">
					<div class="cel-ico"></div>
					<p class="data-label">Teléfono de contacto</p>
					<p class="data-info">{{userData.phone}}</p>
				</div>
			</div>
			<p class="text-center info-text">Si necesitas más información de algún inmueble <br>nos comunicaremos contigo al correo <br>y número que registres</p>
			<div class="terms">
				<span>Términos y condiciones |</span><span>Políticas de privacidad</span><br><span>San Jorge Construcciones S. A. de C. V.</span>
			</div>
		</div>
	</div>
</div>
