<div class="create-account-view">
	<div class="col-sm-12">
		<div class="row">
			<div class="profile-header">
				<div class="back-ico" data-ng-click="goTo('user-profile')"></div>
				<h1>Crear una cuenta</h1>
			</div>
		</div>
		<div class="row">
			<div class="contact-data">
				<div class="data-row">
					<div class="mail-ico"></div>
					<p class="data-info">{{userData.email}}</p>
				</div>
				<div class="data-row">
					<div class="lock-ico"></div>
					<p class="data-info">Contraseña</p>
				</div>
				<div class="data-row">
					<div class="lock-ico"></div>
					<p class="data-info">Confirmar contraseña</p>
				</div>
			</div>
			<p class="text-center white-text">También puedes entrar con</p>
			<button class="btn btn-default social-nw-btn facebook">Facebook</button>
			<button class="btn btn-default social-nw-btn twitter">Twitter</button>
			<div class="rent-button" style="margin-top:141px" data-ng-click="goTo('user-profile')">Crear cuenta</div>
		</div>
	</div>
</div>
