<div class="preferences-view">
	<div class="col-sm-12">
		<div class="row">
			<div class="list-header">
				<div class="back-ico" data-ng-click="goTo('estatesList')"></div>
				<h1 class="pull-left detail-title">Preferencias</h1>
				<p class="blue-text restart-link">Reiniciar</p>
			</div>
		</div>
		<div class="row">
			<div class="preferences-wrapper">
				<p>Ver resultados</p>
				<button class="btn btn-default btn-filter" type="submit">Filtrar por región</button>
			</div>

		</div>
	</div>
</div>